@page
@model AFCitizen.Pages.ComposeModel
@{
    Layout = "_Layout";
}
    <div class="container">
        <div class="jumbotron">
            <div class="display-4 text-info">Обращение</div>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-page="Compose" method="post">
            <h3>Кому</h3>
            <hr />
            <div class="form-group">
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span style="width:200px" class="input-group-text">Город:</span>
                    </div>
                    <select asp-for="City" class="custom-select" asp-items="new SelectList(AFCitizen.Models.Authority.Cities.Keys)">
                        <option value="null" selected>Выберите из списка</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span style="width:200px" class="input-group-text">Куда:</span>
                    </div>
                    <select asp-for="AuthorityType" class="custom-select" asp-items="new SelectList(AFCitizen.Models.AuthorityType.Names())">
                        <option value="null" selected>Выберите из списка</option>
                    </select>
                </div>
            </div>
            <h3>От Кого</h3>
            <hr />
            <div class="form-group">
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span style="width:200px" class="input-group-text">Ф.И.О. полностью:</span>
                    </div>
                    <input asp-for="Doc.From" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span style="width:200px" class="input-group-text">Адрес:</span>
                    </div>
                    <input asp-for="Doc.Address" type="text" class="form-control" />
                </div>
            </div>
            <h3>Обращение</h3>
            <hr />
            <div class="input-group mb-3 input-group-sm">
                <div class="input-group-prepend">
                    <span style="width:200px" class="input-group-text">Тип обращения:</span>
                </div>
                <select id="doctype" asp-for="Doc.Type" class="custom-select" asp-items="new SelectList(AFCitizen.Models.DocType.Names())">
                    <option value="null" selected>Выберите из списка</option>
                </select>
            </div>
            <div id="hide" style="display:none; margin-bottom:50px">
                <div class="form-group">
                    <h4 id="docheader" class="text-center mb-2 mt-3"></h4>
                    <textarea id="body" asp-for="Doc.Text" class="form-control" style="resize:none; overflow-y:hidden;"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Отправить</button>
                <a asp-page="Index" class="btn btn-outline-secondary btn-block">Отмена</a>
            </div>
        </form>
    </div>
    <script>
        $("#doctype").on("change", function () {
            let val = this.value;
            if (val == "null") {
                $("#docheader").text("");
                $("#hide").fadeOut();
            }
            else {
                $("#docheader").text(val);
                $("#hide").fadeIn();
            }
        });
        $("#body").on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
            this.scrollIntoView(true);
        });
    </script>