@page
@model AFCitizen.Pages.IndexModel
@{
    Layout = "_Face";
}
    <div class="text-center mt-5">
        <img src="~/assets/news1.png" />
        <br /><br /><br />
        <img src="~/assets/news2.png" />
        <br /><br /><br />
        <img src="~/assets/news3.png" />
        <br /><br /><br />
        <img src="~/assets/news4.png" />
        <br /><br /><br />
    </div>