@page
@model AFCitizen.Pages.Federation.AgentModel
@{
    Layout = "_Layout";
}
    <div class="container">
        <div class="jumbotron">
            <h1>@Model.Header</h1>
            <p>Честно и усердно исполняйте свой долг перед народом! Трудитесь во благо нашей с вами страны!</p>
        </div>
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        От: Артур Григорян / Дата: 02/22/3021
                    </a>
                </div>
                <div id="collapseOne" class="collapse hide" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger btn-block">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>