@{
    Layout = "_Layout";
}
    <div class="jumbotron text-center">
        <div class="display-1">Название</div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <span title="Amazing Future" class="navbar-brand" style="cursor:default">AF</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Кнопка1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Кнопка2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Кнопка3</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (ViewBag.Authorized)
                    {
                        <li class="navbar-text text-info mr-md-4 m-auto">
                            @ViewBag.Name
                        </li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link" href="#">Выйти</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Авторизация</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Регистрация</a>
                                <a class="dropdown-item" href="#">Войти</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>